.title {
  text-align: center;
}
.contact-list {
  margin-top: 20px;
}
.num-count {
  margin: 15px;
}
.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-btn {
  cursor: pointer;
}